/* Global CSS */

@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Permanent+Marker&family=Poppins&display=swap&family=Roboto&display=swap');

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: linear-gradient(#017857, #cebe08);
}

::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(#088965, #e4d528);
}

h2 {
    font-family: 'Roboto', sans-serif;
}

p {
    margin-bottom: 0;
}

#about-me hr,
#skills hr,
#photoworks hr,
#education hr {
    color: #FFF212;
    display: block;
    height: 1px;
    border-bottom: 3px solid #FFF212;
    opacity: 100% !important;
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
}

/* Akhir Global CSS */

/* Navbar */

.navbar {
    background-color: #98faff !important;
}

.nav-link {
    font-family: 'Poppins', sans-serif;
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
}

.nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #017857, #e9de07);
    transform: scale(0, 1);
    transition: 0.3s ease;
}

.nav-link:hover {
    color: #000000 !important;
}

.nav-link:hover::after {
    transform: scale(1, 1);
}

@media only screen and (max-width: 768px) {
    .navbar .container {
        justify-content: left !important;
    }

    .navbar .container a {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 768px) {
    .active {
        transform: scale(1.1);
        transition: all .5s ease;
    }
}

/* Akhir Navbar */

/* Home */

#home {
    padding-top: 6rem;
    background-color: #006065;
}

#home img {
    position: relative;
    width: 100%;
}

#home .home-desc {
    margin-top: 250px;
    min-height: 20vh;
    align-items: center;
}


#home h1 {
    color: #FFF212;
    font-family: 'Permanent Marker', cursive;
    font-size: 85px;
}

#home h2, #home p {
    font-family: 'Chelsea Market', cursive;
}

@media only screen and (max-width: 768px) {
    #home h1 {
        font-size: 35px;
    }

    #home .home-desc {
        text-align: center;
        margin-top: 20px;
    }

}

#home p,
#home h2 {
    color: #01c9d3;
}

/* Akhir Home */

/* About Me */

#about-me {
    background-color: #01c9d3;
}

#about-me p,
#about-me h2 {
    color: #006065;
}

#about-me p {
    text-align: justify;
}

/* Akhir About Me */

/* Education */

#education {
    background-color: #006065;
}

#education p,
#education h2 {
    color: #01c9d3;
}

#education .card {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#education .card:hover {
    transition: all .5s ease;
    transform: scale(1.2);
    box-shadow: 5px 5px 5px #FFF212;
}

#education img {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#education .glass {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

#education .school {
    font-size: 25px;
    font-weight: bold;
    color: #FFF212;
}

#education .year {
    font-size: 14px;
}

/* Akhir Education */

/* Skills */

#skills {
    background-color: #01c9d3;
}

#skills p,
#skills h2 {
    color: #006065;
}

.skills-img {
    width: 75px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Akhir Skills */

/* Photoworks */

#photoworks {
    background-color: #006065;
}

#photoworks h2,
#photoworks p {
    color: #01c9d3;
}

#photoworks .pw {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#photoworks .pw:hover {
    filter: brightness(70%);
    transition: all .5s ease;
    transform: scale(1.2);
    box-shadow: 5px 5px 5px #013033;
}

@media only screen and (max-width: 768px){
    #photoworks img{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

/* Akhir Photoworks */

/* Contact Me */

#contact {
    background-color: #01c9d3;
}

#contact h2,
#contact p {
    color: #006065;
}

#contact .contact-icon {
    height: 250px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#contact .hr-contact {
    color: #FFF212;
    height: 1px;
    border-bottom: 3px solid #FFF212;
    opacity: 100% !important;
    max-width: 200px;
}

#contact a img {
    width: 40px;
    height: auto;
}

#contact a img:hover {
    filter: brightness(80%);
    transition: all .5s ease;
    transform: scale(1.2);
}

@media only screen and (min-width: 768px) {
    #contact .contact-pc {
        display: block;
    }

    #contact .contact-mobile {
        display: none;
    }
}

@media only screen and (max-width: 768px) {

    #contact .contact-pc,
    #contact .col-pc {
        display: none;
    }

    #contact .contact-mobile {
        display: block;
    }

    #contact h2 {
        text-align: center;
    }

    #contact hr {
        color: #FFF212;
        display: block;
        height: 1px;
        border-bottom: 3px solid #FFF212;
        opacity: 100% !important;
        max-width: 100px;
        margin-left: auto;
        margin-right: auto;
    }

    #contact p {
        text-align: center;
    }

    #contact .col-sosmed {
        text-align: center !important;
    }
}

/* Akhir Contact Me */

/* Footer */

footer {
    background-color: #006065;
}

footer p {
    color: #01c9d3;
}

@media only screen and (max-width: 768px) {
    footer p {
        font-size: 14px;
    }
}

/* Akhir Footer */